PORT=5000
MONGO_URL=mongodb+srv://applicationf695_db_user:2dqQRZ2bajU1pTnV@cluster0.cdbegxa.mongodb.net/?appName=Cluster0
JWT_SECRET=your_jwt_secret
ADZUNA_APP_ID=85aa1709
ADZUNA_APP_KEY=d41643194d8134203e818f0ba4fe919b
BASE_URL=https://api.adzuna.com/v1/api/jobs
